.App {
  text-align: center;
}

.App-logo {
  display: flex;
  width: 375px;
  height: 812px;
  padding: 202px 109px 458px 108px;
  flex-direction: column;
  align-items: center;
  background: #FFF;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.logo-container {
  display: flex;
  flex-direction: column;
  /* animation-delay: 2000ms;
  animation-timing-function: ease-in-out;
  animation-duration: 600ms; */
}
