.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정 */
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 1; 
  }

.plant-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 2; /* 백그라운드 위에 표시 */
}

.PlantModal h1 {
    margin-bottom: 20px;
    color: #4CAF50;
}

.plant-status {
    margin-bottom: 20px;
}

.status-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.status-item span:last-child {
    font-weight: bold;
}

.PlantModal button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.PlantModal button:hover {
    background-color: #45a049;
}

.PlantModal a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.PlantModal a:hover {
    text-decoration: underline;
}